<div class="flex-row  fixed-top">

  <div class="float-right">
  
  
  
    
  
  <button type="button" (click)="login()"class="btn btn-secondary">Login</button>
  </div>
  </div>
 
 
 
 <div  *ngIf="!apply" class="row justify-content-md-center " style="margin-top: 50px">
    <div class="col-md-6">

<table class="table table-bordered">
<thead>
    <tr>
        <th class="text-center" colspan="3">{{leave.empInfo.name}}</th>
        
    </tr>
</thead>

<tbody>
 <tr>
    
   <td class="text-center" scope="col" colspan="3">
    Employee Id - {{leave.empInfo.id}}<br>
   Skills-  {{leave.empInfo.skills}}<br>
    Date of Joining- {{leave.empInfo.designation}}
   </td>
 </tr>
 <tr>
   <td class="text-center" scope="col" colspan="3">CL-{{leave.cl}}/5<br>PL-{{leave.pl}}/5<br>SL-{{leave.sl}}/5</td>
 </tr>
  
</tbody>
</table>
<div class="text-center mt-4">

  <button type="button" (click)="aply();" class="btn btn-secondary">Apply Leaves</button>
</div>
<div *ngIf="employeeLeavess">
      
  <div class="row justify-content-md-center " style="margin-top: 50px">
         <div class="col-md-8">
 
 <table class="table table-bordered">
     <thead>
         <tr>
             <th class="text-center" colspan="4">Requests</th>
             
         </tr>
     </thead>
     <thead>
       <tr>
         
         <th class="text-center"scope="col">Id</th>
         <th class="text-center" scope="col">From</th>
         <th class="text-center"  scope="col">To</th>
         <th class="text-center"  scope="col" >Status</th>
       </tr>
     </thead>
     <tbody>
       <tr *ngFor="let leave of leavesss">
         
         <td class="text-center"  >{{leave.id}}</td>
         <td class="text-center" >{{leave.fromDate}}</td>
         <td class="text-center" >{{leave.toDate}}</td>
        <td class="text-center" >{{leave.reportingManagerStatus}}
          </td>


        </tr>
       
       
     </tbody>
   </table>
     </div>
 </div>
 </div>
</div>
</div>

<div *ngIf="apply"class="row justify-content-md-center " style="margin-top: 100px">
  <div class="col-md-2">
<form class=" mt-4" style="margin-top: 100px">
  <div class="form-group text-center " >
    {{RLeaves}} <select class="form-select " #mySelect
  (change)='onOptionsSelected(mySelect)' aria-label=".form-select-lg example">
    <option selected>Leave Type</option>
    <option [value]="leave.cl">CL</option>
    <option [value]="leave.pl">PL</option>
    <option [value]="leave.sl">SL</option>
  </select>
    
  <input type="date" min="2021-06-01" max="2022-10-20"  [(value)]="model" class="form-control mt-4" (change)="onKeyUpfromdate($event)" />
  
     
    
    
    <input type="date" placeholder="To" min="2021-06-01" max="2022-10-20" [(value)]="model2" class="form-control mt-2" (change)="onKeyUptoDate($event)" />
    
    
    <button type="button" (click)="onApply();" class="btn btn-secondary mt-4">Apply</button>

    
    </div>
    
  </form>
 </div>
</div>
 
  
       
  

  